@font-face {
    font-family: minecraftia;
    src: url("fonts/Minecraftia-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #889199;
}
a:visited {
    color: #4a4e52;
}
body {
    background-image: url("assets/background.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
footer {
    padding-bottom: 30px;
    background-color: #171a1c;
    color: #e3effa;
}
header {
    background-position: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 75vh;
}

section {
    margin: 0;
    display: block;
    background-position: center;
    align-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2, h3, h4, h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    align-self: center;
    margin: 0 auto;
    min-width: 300px;
}
td {
    text-align: left;
    color: #4a4e52;
    font-family: Arial, Helvetica, sans-serif;
    width: 33%;
}
th {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #889199;
    font-size: larger;
    width: 33%;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}

.active {
    background-color: #ccc;
}
.blue-section {
    background-color: #e3effa;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #889199;
    font-family: Arial, Helvetica, sans-serif;
}
.nav a, .nav span {
    display: inline-block;
    color: #4a4e52;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.nav a:hover {
    background-color: #ddd;
    color: #4a4e52;
} 
.nav a.active {
    background-color: #4a4e52;
    color: white;
}

.nav .kofi a, .nav .kofi span {
    display: inline-block;
    color: #f2efe8;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav .kofi a:hover {
    background-color: #e46c38;
    color: white;
} 
.nav .kofi a.active {
    background-color: #f2efe8;
    color: #e46c38;
}

.picleft {
    float: left;
    width: 33%;
}
.picright {
    float: right;
    width: 33%;
}
.project-section {
    min-height: 225px;
    max-width: 100%;
    min-width: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.text-section {
    max-width: 1080px;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    display: block;
}

.white-section {
    background-color: #ffffff;
}