h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2, h3, h4, h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    background-position: center;
    min-width: 100%;
    min-height: 100%;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
footer {
    padding-bottom: 30px;
    background-color: #171a1c;
    color: #e3effa;
    flex-shrink: 0;
}
section {
    margin: 0;
    display: block;
    background-position: center;
    flex: 1 0 auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}