@font-face {
    font-family: minecraftia;
    src: url("fonts/Minecraftia-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #889199;
}
a:visited {
    color: #4a4e52;
}
body {
    background-image: url("../assets/bg3.gif");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 100%;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #4a4e52;
    height: 100%;
}
footer {
    padding-bottom: 30px;
    background-color: #171a1c;
    color: #e3effa;
    flex-shrink: 0;
}
header {
    background-position: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    aspect-ratio: 21/9;
    max-height: 50vh;
}
html {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    height: 100%;
}
h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2, h3, h4, h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
section {
    margin: 0;
    display: block;
    flex: 1 0 auto;
    background-position: center;
    align-content: center;
    align-items: center;
}
table {
    align-self: center;
    margin: 0 auto;
}
td {
    text-align: center;
    color: #4a4e52;
    font-family: Arial, Helvetica, sans-serif;
    width: 33%;
}
th {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #889199;
    font-size: larger;
    width: 33%;
}
ul {
    text-align: left;
}

#ind-head {
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}
.active {
    background-color: #ccc;
}
.blue-section {
    background-color: #e3effa;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.footer-image {
    width: 32px;
    float: left;
    padding: 5px;
}
.footer-section {
    display: block;
    align-items: center;
}
.nav {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #889199;
    font-family: Arial, Helvetica, sans-serif;
}
.nav a, .nav span {
    display: inline-block;
    color: #4a4e52;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.nav a:hover {
    background-color: #ddd;
    color: #4a4e52;
} 
.nav a.active {
    background-color: #4a4e52;
    color: white;
}

.nav .kofi a, .nav .kofi span {
    display: inline-block;
    color: #f2efe8;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav .kofi a:hover {
    background-color: #e46c38;
    color: white;
} 
.nav .kofi a.active {
    background-color: #f2efe8;
    color: #e46c38;
}

.picleft {
    float: left;
    width: 33%;
}
.picright {
    float: right;
    width: 33%;
}
.project-section {
    min-height: 225px;
    max-width: 100%;
    min-width: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.text-section {
    max-width: 932px;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    display: block;
}

.white-section {
    background-color: #ffffff;
}